<h1>Landing Page</h1>


<% if current_user.nil? %>
<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
<%= link_to projects_path, class: 'login-button' do %>View all Projects<% end %>
<%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
<% end %>

<%
=begin%>
<%= render 'shared/project' %>
<%
=end%>


<p> Below are other links that you can use in your project.</p>

<% if user_signed_in? %>

  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        

<% else %>

  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  

<% end %>

