<!DOCTYPE html>
<html>

<head>
    <title>Taski</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render 'shared/nav' %>

    <div class="profile">
        <%= image_tag("logos/profile.png", width:"150px")%>
    </div>

    <%= yield %>
</body>

</html>